.hero {
  background-color: $gray;
  padding: 88px 0;

  small {
    font-weight: 400;
  }
}

.imageSection {
  background-color: $primary;
  padding-top: 144px;
}

.fbIcon {
  background: url(./fb.svg) no-repeat center;
}

.twitterIcon {
  background: url(./twitter.svg) no-repeat center;
}

.linkedinIcon {
  background: url(./linkedin.svg) no-repeat center;
}

.shareIcon {
  background: url(./share.svg) no-repeat center;
}

.leftMenu {
  display: flex;
  flex-direction: row;
  position: sticky;
  top: 95px;

  @include media-breakpoint-down(md) {
    position: relative;
    flex-direction: column-reverse;
    top: 0;
  }

  a > i {
    background-size: contain;
    width: 40px;
    height: 40px;
    display: block;
    margin-bottom: 1rem;
    margin-right: 2.5rem;

    @include media-breakpoint-down(md) {
      margin-right: 1rem;
      display: inline-block;
    }
  }
}

ol {
  margin-top: 2rem;
  padding-left: 2rem;
  li {
    font-weight: bold;
  }
}

.points {
  ul {
    list-style: none;
    padding: 0;
    margin-top: 1.2rem;

    li {
      border-bottom: 2px solid #d7d7d7;
      font-size: 0.85rem;
      padding: 8px 0;

      &.active {
        border-color: $primary;
      }
    }
  }
}

.postContent {
  h3 {
    margin-bottom: 1.85rem;
    margin-top: 1rem;
  }

  blockquote {
    margin: 88px 0;

    @include media-breakpoint-down(md) {
      margin: 40px 0;
    }
  }

  ul {
    background-color: $gray;
    padding: 20px 20px 40px 60px;
    @include media-breakpoint-down(md) {
      padding: 20px;
    }

    li {
      padding-top: 20px;
      font-size: 1.3rem;
      @include media-breakpoint-down(md) {
        font-size: 1rem;
      }
    }
  }

  img {
    padding-bottom: 2.5rem;
  }
}

.featuredPosts {
  h3 {
    margin-top: 0.5rem;
    margin-bottom: 1rem;
  }

  small {
    font-weight: 400;
  }

  p {
    opacity: 0.7;
  }
}
