.images {
  padding-bottom: 150px;
}

.img_1 {
  .img_1Text {
    position: relative;
    top: -90px;
  }
}

.img_3 {
  margin-top: 100px;
}

.img_4 {
  margin-top: 40px;
}

.img_5 {
  margin-top: 80px;
}

.img_6 {
  position: relative;
  top: -60px;
  min-width: 644px;
}

.img_7 {
  position: relative;
  min-width: 775px;
  right: 125px;
  top: 100px;
}
