.heroBg {
  position: absolute;
  top: 10%;
  left: 50%;
  width: fit-content;
  height: fit-content;
  bottom: 0;
  animation: float 3s ease-in-out infinite;
  
  z-index: -1;

  img {
    transform: scale(1.2);
  }
}


@keyframes float {
  0% {
    transform: translateY(0) translateX(-50%);  
  }
  50% {
    transform: translateY(-6px) translateX(-50%);
  }
  100% {
    transform: translateY(0) translateX(-50%);
  }
}

.floating {
}

.carouselItem {
  transition: all 0.3s ease-in-out;
  flex-shrink: 0;
  margin-right: 2rem;

  @include media-breakpoint-down(lg) {
    // max-width: 90%;
    // height: 247px;
    border-radius: 10px;

    img {
      height: 247px;
    }
  }
}

.image {
  border-radius: 20px;
}
