.heroBg {
  position: absolute;
  top: 0;
  left: 20px;
  width: fit-content;
  height: fit-content;
  right: 0;
  bottom: 0;
  z-index: -1;
}

.carouselItem {
  transition: all 0.3s ease-in-out;
  flex-shrink: 0;

  @include media-breakpoint-down(lg) {
    // max-width: 90%;
    // height: 247px;
    border-radius: 10px;

    img {
      height: 247px;
    }
  }
}

.image {
  border-radius: 20px;
}
