.alpianStats {
  background-color: white;
  padding: 24px 50px 46px 107px;
  z-index: 3;
  position: relative;
  display: inline-block;
  float: right;

  & > div {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
  }

  @include media-breakpoint-down(lg) {
    padding: 24px;
  }

  @include media-breakpoint-down(md) {
    padding: 24px 32px;
  }
}

.arrowDown {
  width: calc(100% - 617px);
  text-align: right;
  margin-top: -85px;

  @include media-breakpoint-down(lg) {
    width: calc(100% - 508px);
    margin-top: -90px;
  }

  @include media-breakpoint-down(md) {
    margin-top: -30px;
    width: calc(100% - 226px);
  }

  & > div {
    background: url(./arrow_down.svg) no-repeat right;
    background-size: contain;
    height: 250px;
    width: 100%;

    @include media-breakpoint-down(md) {
      background: url(./arrow_down_mobile.svg) no-repeat right;
      height: 100px;
      width: 100%;
      margin-left: 9px;
      z-index: 20;
      position: relative;
    }
  }
}
