$arrowHeight: 255px;

.statistics + div {
  clear: both;
}
.alpianStats {
  background-color: white;
  padding: 24px 50px 0 107px;
  z-index: 3;
  position: relative;
  display: inline-block;
  float: right;
  border-left: 2px solid $secondary;
  margin-bottom: 150px;

  & > div {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    padding-bottom: 0 !important;
  }

  @include media-breakpoint-down(lg) {
    padding: 24px;
  }

  @include media-breakpoint-down(md) {
    padding: 24px 32px;
    margin-bottom: 40px;
  }
}

.border {
  height: 2px;
  background-color: $secondary;
  width: 50%;
  left: 50px;
  position: absolute;
  bottom: -160.5px;

  @include media-breakpoint-down(lg) {
    display: none;
  }
}

.lely_logo img {
  height: 83px;
  margin-bottom: 0.5rem;
}
.arrowDown {
  width: calc(100% - 617px);
  text-align: right;
  margin-top: -85px;

  @include media-breakpoint-down(md) {
    margin-top: -30px;
    width: calc(100% - 226px);
  }

  .arrowDownIcon {
    border: solid $secondary;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 7px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    position: absolute;
    bottom: 0;
    left: -7px;

    @include media-breakpoint-down(md) {
      bottom: -28px;
      left: auto;
      right: 262px;
      z-index: 100;
    }
  }

  .arrow {
    background-color: $secondary;
    width: 2px;
    height: 96px;
    position: absolute;
    bottom: -$arrowHeight;
    left: 50px;
    z-index: 3;

    @include media-breakpoint-down(lg) {
      left: 26px;
    }

    @include media-breakpoint-down(md) {
      background: none;
      position: inherit;
    }
  }
}
