.mobileLink {
  font-weight: 500;
  font-size: 1rem;
  color: white;
  margin: 1rem 0;
  font-family: $font-family-monospace;
  text-decoration: none;

  &:hover {
    color: $gray;
  }
}

.mobileBarBurgerButton {
  position: relative;
  background-size: contain;
  width: 40px;
  height: 40px;
  background: url(../../components/header/icon_bar.svg) no-repeat;
}

.mobileBarCrossButton {
  background: url(../../components/header/cross.svg) no-repeat;
  height: 25px;
  width: 25px;
  background-size: contain;
}

.mobileBar {
  background: $secondary;
  padding: 2.5em 1.5em 0;
  color: white;
  overflow: hidden !important;
}

.mobileBarOverlay {
  background-color: transparent;
  top: 0;
}
