.imageIcon {
  background: url(./icon.svg) no-repeat center;
  width: 120px;
  height: 110px;
  background-size: contain;
  position: absolute;
  z-index: 2;
  position: absolute;
  z-index: 2;
  top: -53px;
  left: -18px;

  @include media-breakpoint-down(lg) {
    display: none;
  }
}
