.category {
  border: 2px solid #e9e9e9;
  padding: 15px 50px;
  white-space: nowrap;
  border-radius: 35px;
  font-weight: 800 !important;
  cursor: pointer;
  transition: border-color 0.25s ease-in-out;

  h4 {
    font-size: 1.25rem;
    font-weight: 600 !important;
  }

  &:hover {
    border-color: $secondary;
  }
}

h2 {
  margin-bottom: 1.2rem;
  font-weight: 700;
}
