/* progressBar.module.css */

.progressBar {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100vw;
    height: 7px; 
    background: transparent;
    z-index: 10;
  }
  
  .progressBarInner {
    height: 7px;
    background: $primary;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
  }