.item {
  position: relative;
  transition: all 0.2s ease-in-out;
  width: 394px;
  height: 517px;
  flex-shrink: 0;
  border-radius: 18px;
  overflow: hidden;

  &:hover {
    .overlay {
      display: block;
    }
  }

  .overlay {
    z-index: 1;
    display: none;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;

    // make a gradient overlay, white to transparent from right to left
    background: linear-gradient(
      to right,
      rgba(255, 255, 255, 0) 0%,
      rgba(255, 255, 255, 0.5) 100%
    );
  }

  @include media-breakpoint-down(lg) {
    max-width: 90%;
  }
}

.itemOuter {
  padding-top: 20px;
  padding-bottom: 60px;
}
