.item {
  transition: all 0.3s ease-in-out;
  width: 394px;
  height: 517px;
  flex-shrink: 0;
  border-radius: 18px;
  overflow: hidden;

  &:hover {
    transform: scale(1.03);
  }

  @include media-breakpoint-down(lg) {
    max-width: 90%;
  }
}

.itemOuter {
  padding-top: 20px;
  padding-bottom: 20px;
}
