.item {
  position: relative;
  transition: all 0.2s ease-in-out;
  width: 394px;
  height: 517px;
  flex-shrink: 0;
  border-radius: 18px;
  overflow: hidden;

  &:hover {
    box-shadow: 0 20px 40px rgba(61, 65, 84, 0.15);
    top: -2px;
  }

  @include media-breakpoint-down(lg) {
    max-width: 90%;
  }
}

.itemOuter {
  padding-top: 20px;
  padding-bottom: 40px;
}
