

@keyframes float {
  0% {
    transform: translateY(0);  
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}

.wrapper {
  background: #faf5ed;
  border-radius: 20px;
  height: 100%;

}
.block {
  border-radius: 20px;
  height: 100%;
  margin-bottom: 1rem !important;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  animation: float 3s ease-in-out infinite;



  img {
    transform: scale(1.1);
    transform-origin: center;
  }
}


.textBlock {
  display: flex;
  flex-direction: column;
  padding-left: 2rem !important;
  background: #faf5ed;
  border-radius: 20px;
  margin-bottom: 1rem !important;

  h4 {
    font-weight: 600 !important;

    @include media-breakpoint-down(md) {
      font-size: 1.25rem;
    }
  }

  &:nth-last-child(1) {
    margin-bottom: 0 !important;
  }

  &:hover {
    background: #fff5e4;
  }
}

.btn {
  cursor: pointer;
}

.buttons {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

@include media-breakpoint-down(md) {
  margin-top: 2rem;
}
}
