.heading {
  position: absolute;
  top: 146px;
  width: 37%;
  color: white;
  z-index: 3;

  @include media-breakpoint-down(lg) {
    display: none;
  }
}

.blueSection {
  background-color: $secondary;
  width: 50%;
  color: white;
  position: relative;

  @include media-breakpoint-down(lg) {
    padding: 24px 0;
    width: 100%;
    flex-direction: column;
  }

  .lines {
    background: url(./line.svg) no-repeat;
    width: 50%;
    height: 171px;
    top: 59%;
    transform: translateY(-50%);
    z-index: 2;
    position: absolute;

    @include media-breakpoint-down(xl) {
      height: 180px;
      margin-top: 27.5px;
      width: 70%;
    }

    @include media-breakpoint-down(lg) {
      background: url(./line-mobile.svg) no-repeat;
      height: 230px;
      background-size: contain;
      position: relative;
      width: 100%;
      transform: none;
      @include media-breakpoint-down(md) {
        height: 150px;
      }
    }

    & + div {
      height: 2px;
      width: 50%;
      background-color: $white;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      margin-top: 11px;
      right: 20px;

      @media (max-width: 1641px) {
        margin-top: 16px;
      }

      @include media-breakpoint-down(xl) {
        margin-top: 39px;
      }
      @media (max-width: 1012px) {
        margin-top: 42px;
      }

      @include media-breakpoint-down(lg) {
        display: none;
      }

      &:after {
        content: "";
        border: solid white;
        border-width: 0 2px 2px 0;
        display: inline-block;
        padding: 5px;
        transform: rotate(-45deg);
        -webkit-transform: rotate(-45deg);
        position: absolute;
        right: 0;
        top: -5px;
      }
    }
  }
}

.greySection {
  background-color: $gray;
  width: 50%;
  padding: 88px;

  h3 {
    font-weight: 400;
  }

  @include media-breakpoint-down(lg) {
    padding: 24px 0;
    width: 100%;
  }
}
