.blueBg {
  background-color: $primary;

  & > div > div {
    display: flex;
    justify-content: space-evenly;
    color: white;
  }
}

.processSection {
  background-color: $secondary;
  padding-top: 120px;
  padding-bottom: 90px;

  @include media-breakpoint-down(md) {
    padding-top: 48px;
    padding-bottom: 18px;
  }

  .processes {
    color: white;
    text-align: center;

    & + div {
      margin-top: 55px;
      padding-bottom: 30px;
      overflow-x: auto;
    }
  }
}
