.hero {
  height: 90vh;
  width: 100%;
  position: relative;

  video {
    object-fit: cover;
  }

  @include media-breakpoint-down(md) {
    height: 80vh;
  }
}

.preLogo {
  background-color: $secondary;
  position: absolute;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
}

.logoImage {
  z-index: 3;
  opacity: 0;
  animation: show-hide-show 13s linear;
}

@keyframes show-hide-show {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.circle {
  width: 50px;
  height: 50px;
  bottom: -50px;
  border-radius: 50%;
  background-color: #fff;
  position: absolute;
  animation-name: zoom;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  z-index: 3;
  animation-delay: 3.2s;
}

@keyframes zoom {
  from {
    width: 100px;
    height: 100px;
    border-radius: 150%;
    bottom: 0;
    left: 50%;
    transform: translate(0%, -50%);
  }

  to {
    width: 100vw;
    height: 100vh;
    border-radius: 150%;
    bottom: 0;
    left: 0;
    transform: none;
  }
}

.spinner {
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-top-color: #fff;
  border-radius: 50%;
  width: 48px;
  height: 48px;
  animation: spin 1s ease-in-out;
  z-index: 4;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.loading {
  font-size: 3rem;
  color: $primary;
  font-weight: bold;
  position: absolute;
  z-index: 10;
  opacity: 0;
  animation: show-hide-spinner 6s;
}

.loadingPie {
  transform: rotate(-90deg);
  background: transparent;
  border-radius: 50%;
  z-index: 5;
  animation: show-hide-spinner 7s;
}
.loadingCircle {
  opacity: 0;
  fill: rgba(255, 255, 255, 0);
  stroke: rgb(255, 255, 255);
  stroke-width: 100;
  stroke-dasharray: 0 314; /* PI * 174 ~= 314 */
  animation: fillup 3.5s linear, show-hide-spinner 7s;
  z-index: 6;
}

@keyframes show-hide-spinner {
  0% {
    opacity: 1;
  }
  25% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fillup {
  to {
    stroke-dasharray: 314 314;
  }
}

.arrowDown {
  background: url(./arrow-down.svg) no-repeat center;
  display: inline-block;
  width: 42px;
  height: 21px;
  margin-bottom: 3.25rem;
  margin-top: 1rem;

  @include media-breakpoint-down(md) {
    margin-bottom: 2rem;
  }
}

.arrowLongDown {
  background: url(./arrow-long-down.svg) no-repeat center;
  display: inline-block;
  width: 54px;
  height: 145px;
  margin-top: 3.25rem;

  @include media-breakpoint-down(md) {
    background: url(./arrow-down.svg) no-repeat center;
    width: 42px;
    height: 21px;
    margin-top: 2rem;
  }
}
p > strong {
  display: block;
}

// .leftVector {
//   position: absolute;
//   left: 0;
//   background-color: white;
// }

// .rightVector {
//   position: absolute;
//   right: 0;
//   bottom: -3.5px;
// }

// .vectorLine {
//   height: 2px;
//   background-color: #387cd3;
//   width: 200%;
//   display: block;
//   position: absolute;
//   top: 1px;
//   right: 0;
//   z-index: -1;
// }

small {
  font-weight: 600;
}

.mobileLines {
  background: none;
  z-index: 2;

  @include media-breakpoint-down(md) {
    background: url(./mobile_arrows.svg) no-repeat;
    background-size: cover;
    padding-top: 200px;
    padding-bottom: 30px;
    border-bottom: 3px solid $primary;
  }

  @include media-breakpoint-down(sm) {
    padding-top: 180px;
    border-bottom-width: 2px;
    margin: 0 12px;
    width: calc(100% - 12px);
  }
}

.headingStyle {
  @include media-breakpoint-down(md) {
    margin-left: 40px;
  }
}

.subHeadingStyle {
  line-height: 1.6;
}

.polygonIcon {
  background: url(./polygon.svg) no-repeat;
  width: 80px;
  height: 108px;

  @include media-breakpoint-down(lg) {
    background-size: contain;
    width: 80px;
    height: 98px;
  }
}

.aboutUs {
  h2 {
    margin-bottom: 1rem;

    @include media-breakpoint-down(lg) {
      font-size: 2rem;
    }
    @include media-breakpoint-down(md) {
      font-size: 1.25rem;
      margin-bottom: 0.75rem;
    }
  }
}

h2 {
  div {
    margin-bottom: 1;
  }
}

.teamSection {
  h2 {
    font-size: 2.5rem;
    @include media-breakpoint-down(lg) {
      font-size: 1.75rem;
    }
  }

  a {
    float: right;
    @include media-breakpoint-down(lg) {
      float: left;
    }
  }
}

.teamMember {
  width: calc(50vw + 35%);

  @include media-breakpoint-down(lg) {
    width: calc(50vw + 50%);
  }

  .logo {
    margin-right: 140px;
  }

  .teamCard {
    padding-right: 24px;
  }
}
