.hero {
    margin: 0;

    h1 {
        font-size: 5rem;

        @include media-breakpoint-down(lg) {
            font-size: 2.875rem;
        }
    }

    .vectorLine {
        background: url(./arrow-vector.svg) no-repeat;
        width: 100%;
        position: absolute;
        right: 20px;
        left: 0;
    }

    .heroImage {
        height: 318px;

        @include media-breakpoint-down(lg) {
            padding: 12px;
            height: 200px;
        }
    }
}

small {
    font-weight: 600;
}
.polygonIconMobile {
    background: url(./mobile_arrows.svg) no-repeat;
    width: 100%;
    height: 98px;
    margin-bottom: 1.25rem;
    background-size: cover;

    & + h2 {
        @include media-breakpoint-down(lg) {
            text-align: right;
        }
    }
}

.polygonIcon {
    background: url(./polygon.svg) no-repeat;
    width: 128px;
    height: 108px;
}

.polygonRightIcon {
    background: url(./polygon_right.svg) no-repeat;
    width: 120px;
    height: 98px;
    position: absolute;
    top: -49px;

    @include media-breakpoint-down(lg) {
        display: none;
    }
}

.aboutUs {
    h2 {
        margin-bottom: 1rem;

        @include media-breakpoint-down(lg) {
            font-size: 1.25rem;
            margin-bottom: 0.75rem;
        }
    }
}

h2 {
    div {
        margin-bottom: 1;
    }
}

.alpian {
    background: url(./alpian_bg.jpeg) no-repeat;
    background-size: cover;
    position: absolute;
    width: calc(50vw + 50%);
    height: 100%;
    
    small {
        font-weight: 500;
    }
}

.rombik {
    text-align: center;
    display: inline-block;
    position: absolute;
    
    .parent {
        width: 570px;
        display: flex;

        & + div {
            top: 50%;  
            left: 50%;
            transform: translate(-50%, -50%);
            position: absolute;
        }

        svg {
            width: 100%;
        }
    }
      
      
}

.line {
    border-top: 2px solid $secondary;
    margin-left: -2000px;

    @include media-breakpoint-down(lg) {
        display: none;
    }
}

.rightLine {
    border-right: 2px solid $secondary;
    height: calc(100% + 5.5rem);
    z-index: 2;
    position: absolute;
    right: 0;
    top: -5.5rem;
    left: -12px;

    @include media-breakpoint-down(lg) {
        display: none;
    }
}

.growforge {
    background: url(./growforge_bg.jpeg) no-repeat;
    background-size: cover;
    position: absolute;
    width: calc(50vw + 50%);
    height: 100%;

    @include media-breakpoint-down(lg) {
        display: none;
    }
    
}

.growforge_logo {

    @include media-breakpoint-down(md) {
        width: 123px;
    }
}
.mobileBackground {

    @include media-breakpoint-down(lg) {
        background: url(./growforge_bg.jpeg) no-repeat;
        background-size: cover;
        position: absolute;
        width: 100%;
        height: 100%;
        right: 0;
        left: 0;
    }
}

.growforgeRight {
    z-index: 20;
}

blockquote {
    background-color: white;
    padding: 40px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: -150px;
    position: relative;
    z-index: 2;

    @include media-breakpoint-down(lg) {
        background-color: $primary;
        padding: 16px;
        color: white;
        margin-top: -50px;
    }

    .quoteLine {
        border-left: 2px solid $primary;
        height: 214px;
        position: absolute;

        @include media-breakpoint-down(lg) {
            border-left-color: white;
            height: 87px;
        }
    }

    p {
        font-size: 2rem;
        margin-bottom: 1rem;
        margin-left: 2.5rem;
        line-height: 1.3;

        @include media-breakpoint-down(lg) {
            font-size: 1.25rem;
            margin-bottom: 0.5rem;
            margin-left: 1rem;
        }
    }
    footer div {
        font-family: $font-family-monospace;
        margin-left: 2.5rem;
        margin-bottom: 1rem;
        font-size: 1rem;

        @include media-breakpoint-down(md) {
            margin-bottom: 0.5rem;
            font-weight: 700;
            margin-left: 1rem;
        }
    }
    footer:last-child div {
        @include media-breakpoint-down(md) {
            font-size: 0.75rem;
        }
    }
}

.teamSection {
    h2 {
        font-size: 2.5rem;
        @include media-breakpoint-down(lg) {
            font-size: 1.75rem;
        }
    }

    a {
        float: right;
        @include media-breakpoint-down(lg) {
            float: left;
        }
    }
}

.TeamMember {
    & > div {
        width: calc(50vw + 50%);
        z-index: 1;
    }

    .logo {
        margin-right: 140px;
    }

    .teamCard {
        padding-right: 24px;
    }
}

.blogArtical {
    margin-top: 4rem;

    @include media-breakpoint-down(lg) {
        margin-top: 0;
    }

    .date {
        font-family: $font-family-monospace;
        font-size: 0.85rem;
        margin-bottom: 0.5rem;
    }
}