.arrowDown {
  background: url(./arrow-down.svg) no-repeat center;
  display: inline-block;
  width: 42px;
  height: 21px;
  margin-bottom: 3.25rem;
  margin-top: 1rem;

  @include media-breakpoint-down(md) {
    margin-bottom: 2rem;
  }
}

.arrowLongDown {
  background: url(./arrow-long-down.svg) no-repeat center;
  display: inline-block;
  width: 54px;
  height: 145px;
  margin-top: 3.25rem;

  @include media-breakpoint-down(md) {
    background: url(./arrow-down.svg) no-repeat center;
    width: 42px;
    height: 21px;
    margin-top: 2rem;
  }
}
p > strong {
  display: block;
}

// .leftVector {
//   position: absolute;
//   left: 0;
//   background-color: white;
// }

// .rightVector {
//   position: absolute;
//   right: 0;
//   bottom: -3.5px;
// }

// .vectorLine {
//   height: 2px;
//   background-color: var(--bs-primary);
//   width: 200%;
//   display: block;
//   position: absolute;
//   top: 1px;
//   right: 0;
//   z-index: -1;
// }

small {
  font-weight: 600;
}

.mobileLines {
  background: none;
  z-index: 2;

  @include media-breakpoint-down(md) {
    background: url(./mobile_arrows.svg) no-repeat;
    background-size: cover;
    padding-top: 200px;
    padding-bottom: 30px;
    border-bottom: 3px solid $primary;
  }

  @include media-breakpoint-down(sm) {
    padding-top: 180px;
    border-bottom-width: 2px;
    margin: 0 12px;
    width: calc(100% - 12px);
  }
}

.headingStyle {
  @include media-breakpoint-down(md) {
    margin-left: 40px;
  }
}

.subHeadingStyle {
  line-height: 1.6;
}

.polygonIcon {
  background: url(./polygon.svg) no-repeat;
  width: 80px;
  height: 108px;

  @include media-breakpoint-down(lg) {
    background-size: contain;
    width: 80px;
    height: 98px;
  }
}

.aboutUs {
  h2 {
    margin-bottom: 1rem;

    @include media-breakpoint-down(lg) {
      font-size: 2rem;
    }
    @include media-breakpoint-down(md) {
      font-size: 1.25rem;
      margin-bottom: 0.75rem;
    }
  }
}

h2 {
  div {
    margin-bottom: 1;
  }
}

.teamSection {
  h2 {
    font-size: 2.5rem;
    @include media-breakpoint-down(lg) {
      font-size: 1.75rem;
    }
  }

  a {
    float: right;
    @include media-breakpoint-down(lg) {
      float: left;
    }
  }
}

.teamMember {
  width: calc(50vw + 35%);

  @include media-breakpoint-down(lg) {
    width: calc(50vw + 50%);
  }

  .logo {
    margin-right: 140px;
  }

  .teamCard {
    padding-right: 24px;
  }
}

.videoWrapper {
  position: relative;
  min-height: 200vh;
  margin-top: 2rem;
}

.videoInner {
  position: sticky;
  display: flex;
  align-items: center;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  padding-top: 0rem;

  @media (max-width: 1160px) {
    height: 72vh;
    top: 25%;
  }
  @media (max-width: 978px) {
    height: 50vh;
    top: 25%;
  }
  @media (max-width: 480px) {
    height: 35vh;
    top: 25%;
  }
}

.videoContainer {
  position: sticky;
  width: 100%;
  height: fit-content;
  top: 0;
  left: 0;
  border-radius: 18px;
  overflow: hidden;

  video {
  }
}

.playButton {
  position: absolute;
  bottom: 25px;
  right: 25px;
}

.features {
  > div:not(:first-child) > div {
    border-left: 1px solid black;
    @include media-breakpoint-down(lg) {
      border: 0;
    }
  }
}
