// styles.scss

.container {
  position: relative;
  display: flex;
  align-items: center;
  height: 508px;
  justify-content: center;
  gap: 40px;

  @media (max-width: 600px) {
    flex-direction: column;
  }
}

.box {
}

.box1 {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 18px;
  text-align: center;
  padding: 20px;
  height: 100%;

  flex: 2;
  background: $secondary;
  color: white;

  h2 {
    z-index: 1;
    font-size: 4rem;
    line-height: 1 !important;
    span {
      font-family: "EB Garamond";
      font-style: italic;
      font-size: 120%;
    }
  }

  img {
    position: absolute;
    z-index: 0;

    animation: float 3s ease-in-out infinite;
  }
}

@keyframes float {
  0% {
    transform: translateY(0) ;
  }
  50% {
    transform: translateY(-10px) ;
  }
  100% {
    transform: translateY(0);
  }
}

.box2 {
  border-radius: 18px;
  padding: 40px 32px;
  flex: 1;
  background: $primary;
  color: white;
  height: 100%;

  img {
    position: absolute;
    bottom: 40px;
    right: 32px;
  }

  h3 {
    font-size: 2.25rem;
    width: 65%;
    font-weight: 600;
    line-height: 1.25
    ;
  }
}
