.lightBlueSection {
  background-color: $primary;
  color: white;
  padding-top: 8rem;
  padding-bottom: 10rem;

  @include media-breakpoint-down(lg) {
    padding: 5rem 0;
  }
  @include media-breakpoint-down(md) {
    padding: 4rem 0;
  }
}

.headings {
  h2 {
    background-color: white;
    position: relative;
    z-index: 2;
  }

  .sectionLines {
    border-top: 2px solid $primary;
    border-right: 2px solid $primary;
    border-bottom: 2px solid $primary;
    padding-bottom: 120px;
    position: absolute;
    right: 0;
    width: 50%;
    margin-top: -80px;

    @include media-breakpoint-down(md) {
      margin-top: -50px;
      padding-bottom: 80px;
    }
  }

  .arrowLine {
    height: 120px;
    background-color: $primary;
    width: 2px;
    position: absolute;
    bottom: -120px;

    @include media-breakpoint-down(lg) {
      height: 30px;
      bottom: -30px;
    }

    @include media-breakpoint-down(md) {
      height: 80px;
      bottom: -80px;
    }

    & > div {
      border: solid $primary;
      border-width: 0 2px 2px 0;
      display: inline-block;
      padding: 7px;
      transform: rotate(45deg);
      -webkit-transform: rotate(45deg);
      position: absolute;
      bottom: 0;
      left: -7px;
    }
  }
}
