@import "variables";
@import "elements";
@import "~bootstrap/scss/bootstrap.scss";

@import "typography";

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  letter-spacing: -0.2px;
}
