.navbar {
  padding: 14px 0;
  z-index: 9;
  height: 60px;
  box-shadow: 0px 4px 15px 0px #0000001A;
  justify-content: center;
  display: flex;
  align-items: center;

  @include media-breakpoint-down(lg) {
    padding: 0;
    box-shadow: none;
  }

  .navbarLogo {
    padding: 0;
  }
}

.navbarNav {
  margin-left: auto;
  @include media-breakpoint-down(lg) {
    display: none;
  }
}

.navLink {
  font-weight: 500;
  font-size: 1rem;
  line-height: 24px;
  color: $secondary !important;
  margin-left: 16px;
  font-family: $font-family-monospace;
}

.mobileLink {
  font-weight: 500;
  font-size: 1rem;
  color: white;
  margin: 1rem 0;
  font-family: $font-family-monospace;
  text-decoration: none;

  &:hover {
    color: $grey;
  }
}

.navbar .navLinkActive {
  opacity: 1;
  font-weight: bold;
}