.navbar {
  z-index: 9;
  height: 89px;
  justify-content: center;
  display: flex;
  align-items: center;
  background-color: $white;
  position: sticky;
  top: 0;
  transition: top 0.3s ease;

  @include media-breakpoint-down(lg) {
    padding: 0;
    box-shadow: none;
  }

  .navbarLogo {
    padding: 0;
    cursor: pointer;

    @include media-breakpoint-down(md) {
      img {
        width: 114px !important;
      }
    }
  }
}

.hide {
  top: -89px; // slide out of view
  z-index: 100;
}

.navbarNav {
  display: flex;
  align-items: center;
  margin-left: auto;
  @include media-breakpoint-down(lg) {
    display: none;
  }
}

.navLink {
  font-weight: 400 !important;
  font-size: 1rem;
  line-height: 24px;
  letter-spacing: 0 !important;
  color: $secondary !important;
  font-family: $font-family-monospace;
  position: relative;
  margin: 0.4rem 1rem 0.4rem 0;
  padding: 0.1rem 0;

  &:nth-last-child(1) {
      background: $secondary;
      color: white !important;
      font-weight: 500 !important;
      border-radius: 8px;
      padding: 6px 16px !important;

      &::before {
        display: none;
      }
  }

  &::before {
    content: "";
    transform-origin: 100% 50%;
    transform: scale3d(0, 1, 1);
    transition: transform 0.3s;
    position: absolute;
    width: calc(100% - 20px);
    height: 2px;
    background: $primary;
    top: 100%;
    right: 0;
    left: 11px;
    pointer-events: none;
    transform-origin: 100% 50%;
    transform: scale3d(0, 1, 1);
    transition: transform 0.3s;
  }

  &:hover::before {
    transform-origin: 0% 50%;
    transform: scale3d(1, 1, 1);
  }
}

.navLinkActive:nth-last-child(1):after {
  content: 'Contact us';
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}

.navLinkActive:after {
  position: absolute;
  width: calc(100% - 20px);
  height: 2px;
  background: var(--bs-primary);
  top: 100%;
  right: 0;
  left: 11px;
  pointer-events: none;
  content: "";
}
