.hero {
  background-color: $gray;
  padding: 88px 0;

  small {
    font-weight: 400;
  }
}

.blurredText {
  color: transparent;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.imageSection {
  background-color: $primary;
  padding-top: 144px;
}

ol {
  margin-top: 2rem;
  padding-left: 2rem;
  li {
    font-weight: bold;
  }
}

.leftMenu {
  display: flex;
  flex-direction: row;
  position: sticky;
  top: 95px;

  @include media-breakpoint-down(md) {
    position: relative;
    flex-direction: column-reverse;
    top: 0;
  }

  a > i {
    background-size: contain;
    width: 40px;
    height: 40px;
    display: block;
    margin-bottom: 1rem;
    margin-right: 2.5rem;

    @include media-breakpoint-down(md) {
      margin-right: 1rem;
      display: inline-block;
    }
  }
}

.points {
  ul {
    background-color: transparent;
    list-style: none;
    padding: 0;
    margin-top: 1.2rem;

    li {
      border-bottom: 2px solid #d7d7d7;
      font-size: 0.85rem;
      padding: 8px 0;

      &.active {
        border-color: $primary;
      }
    }
  }
}

.postContent {
  position: relative;

  h3 {
    margin-bottom: 1.85rem;
    margin-top: 1rem;
  }

  ul {
    padding: 20px 20px 40px 60px;
    @include media-breakpoint-down(md) {
      padding: 20px;
    }

    li {
      padding-top: 10px;
      font-size: 1.3rem;
      @include media-breakpoint-down(md) {
        font-size: 1rem;
      }
    }
  }

  .OgilvyForm {
    position: absolute;
    bottom: 0px;
    left: 50%;
    transform: translate(-50%, 0);

    @include media-breakpoint-down(md) {
      bottom: 5rem;
      padding: 0 15px;
    }
  }
}
