.footer {
  h4 {
    font-weight: 600;
  }
}
.footerLogo {
  padding-top: 1rem;
  padding-bottom: 1.25rem;

  @include media-breakpoint-down(lg) {
    text-align: right;
  }

  & > * {
    font-family: $font-family-monospace;
    color: #000;
    opacity: 0.5;
    font-weight: 400;
    font-size: 0.85;
  }
  & > a {
    @include media-breakpoint-down(lg) {
      padding: 0.5rem;
      text-align: right;
    }
  }
}

@include media-breakpoint-down(lg) {
  .mobileImage {
    --g: #000, #0000 1deg 179deg, #000 180deg;
    --mask: conic-gradient(from -135deg at top 20px left 20px, var(--g)) 0 0 /100%
      100% no-repeat;
    -webkit-mask: var(--mask);
    mask: var(--mask);
  }
}
