.footerOuter {
  padding-top: 200px;
  margin-top: 2rem;

  @include media-breakpoint-down(md) {
    margin-top: 0;
  }
}

.footer {
  position: relative;
  background-color: $secondary;
  color: #fff;
  z-index: 100;


  @include media-breakpoint-down(md) {
    padding: 2.3rem 0 1.5rem 0;
  }

  .headerLogo {
    position: relative;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: rgba(var(--bs-primary-rgb)) !important;
    border-radius: 20px;
    transform: translateY(-50%);

    h1 {
      font-size: 80px;
      font-weight: bold;
      line-height: 1;

      @include media-breakpoint-down(xl) {
        font-size: 72px;
      }
      @include media-breakpoint-down(md) {
        font-size: 56px !important;
        line-height: 0.95;
        padding: 2rem;
      }

      span {
        font-family: "EB Garamond", serif;
        font-style: italic;
        font-weight: 500;
        font-size: 120%;
      }
    }

    p {
      font-weight: 400;
      font-size: 16px !important;
    }

    @include media-breakpoint-down(md) {
      padding-bottom: 1.5rem;
    }

    img {
      height: 32px;
    }
  }

  .footerMid {
    p {
      font-weight: 200 !important;
    }

    transform: translateY(-60%);
    @include media-breakpoint-down(xl) {
      transform: translateY(-30%);
    }
    @include media-breakpoint-down(md) {
      transform: translateY(-25%);
    }
  }

  h2 {
    font-size: 25px;
    line-height: 30px;
    font-weight: 600 !important;
  }

  .address {

    p {
    font-size: 16px !important;
      
    }

   
  }

  h4 {
    font-weight: 600;
  }
  .roundedButton {
    border-radius: 60px;

    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 0;
      height: 100%;
      background-color: $secondary;
      transition: .25s ease-in-out;
      z-index: -1;
    }

    &:hover::after {
      width: 100%;
    }
  }

  .mapIcon {
    display: inline-block;
    background: url(./map.svg) no-repeat center;
    height: 22px;
    width: 17px;
    margin-right: 0.5rem;
    transform: translateY(0.3rem);
  }

  h5 {
    font-size: 1rem;
  }

  .partnersLogo {
    display: flex;
    flex-direction: row;
    align-items: center;

    @include media-breakpoint-down(md) {
      flex-wrap: wrap;
      justify-content: space-between;
      margin-bottom: 0.5rem;
    }

    div > img {
      max-width: 100%;
      width: auto;
    }

    & > div:nth-child(1) {
      margin-right: 3.5rem;
      @include media-breakpoint-down(md) {
        margin-right: 1.5rem;
      }

      img {
        height: 44px;
      }
    }

    & > div:nth-child(2) {
      margin-right: 3.5rem;
      @include media-breakpoint-down(md) {
        margin-right: 1.5rem;
      }

      img {
        height: 27px;
      }
    }
    & > div:nth-child(3) {
      margin-right: 3rem;
      @include media-breakpoint-down(md) {
        margin-right: 1.5rem;
      }

      img {
        height: 59px;
      }
    }

    & > div:nth-child(4) {
      img {
        height: 33px;
      }

      @include media-breakpoint-down(md) {
        margin-right: 1.5rem;
      }
    }
  }
}

.footerPolicy {
  background-color: #faf5ed;
  padding: 2rem 0;
  display: flex;
  width: 100%;
  z-index: 100;

  justify-content: space-between;

  .container {
    background-color: green;
  }

  .policyLogo {
    display: flex;
    align-items: center;
    width: fit-content;

    img {
      margin-left: 8px;
    }
  }

  a {
    color: #2a2f45;
    font-size: 0.9rem;
    font-weight: 500;

    @include media-breakpoint-down(md) {
      margin-left: 0;
    }
  }
}


.address p {
  font-size: 16px !important;
}