.footer {
  background-color: $secondary;
  color: #fff;
  padding: 4.6rem 0 0 0;

  @include media-breakpoint-down(md) {
    padding: 2.3rem 0 1.5rem 0;
  }

  .headerLogo {
    border-bottom: 1px solid #fff;
    padding-bottom: 2.68rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include media-breakpoint-down(md) {
      padding-bottom: 1.5rem;
    }

    img {
      height: 32px;
    }

    .linkedinIcon {
      background: url(./linkedin.png) no-repeat center;
      height: 36px;
      width: 36px;
      object-fit: contain;
      background-size: contain;
    }
  }

  h4 {
    font-weight: 600;
  }
  .roundedButton {
    border-radius: 60px;
  }

  .mapIcon {
    background: url(./map.svg) no-repeat center;
    height: 22px;
    width: 17px;
    margin-right: 1rem;
    margin-top: 0.5rem;
  }

  h5 {
    font-size: 0.85rem;
  }

  .partnersLogo {
    display: flex;
    flex-direction: row;
    align-items: center;

    div > img {
      max-width: 100%;
      width: auto;
    }

    & > div:nth-child(1) {
      margin-right: 3.5rem;
      @include media-breakpoint-down(md) {
        margin-right: 1rem;
      }

      img {
        height: 27px;
      }
    }
    & > div:nth-child(2) {
      margin-right: 3rem;
      @include media-breakpoint-down(md) {
        margin-right: 1rem;
      }

      img {
        height: 59px;
      }
    }

    & > div:nth-child(3) img {
      height: 33px;
    }
  }
}
