.footer {
  h4 {
    font-weight: 600;
  }
}
.FooterPolicy {
  background-color: $secondary;
  padding: 2rem 0;

  a {
    color: #fff;
    font-size: 0.9rem;
    font-weight: 500;
    margin-left: 3rem;

    @include media-breakpoint-down(md) {
      margin-left: 0;
      margin-bottom: 1rem;
    }
  }
}
