.heading {
  position: absolute;
  top: 146px;
  bottom: 0;
  width: 23%;
  color: white;
  z-index: 3;

  @media (max-width: 2000px) {
    width: 35%;
  }

  @include media-breakpoint-down(lg) {
    display: none;
  }

  span {
    display: block;
    @include media-breakpoint-down(lg) {
      display: inline-block;
    }
  }
}

.blueSection {
  background-color: $secondary;
  width: 50%;
  color: white;
  position: relative;
  min-height: 80vh;

  @media (max-width: 2000px) {
    min-height: 105vh;
  }

  @include media-breakpoint-down(xl) {
    min-height: 120vh;
  }

  @include media-breakpoint-down(lg) {
    padding: 24px 0;
    width: 100%;
    min-height: auto;
    flex-direction: column;
    h1 {
      text-align: center;
      @include media-breakpoint-down(md) {
        font-size: 2.5rem;
      }
    }
  }

  .lines {
    background: url(./line.svg) no-repeat;
    width: 70%;
    height: 188px;
    bottom: 120px;
    transform: translateY(95px);
    margin-top: 3px;
    z-index: 2;
    position: absolute;

    @include media-breakpoint-down(lg) {
      background: url(./line-mobile.svg) no-repeat;
      height: 230px;
      background-size: contain;
      position: relative;
      width: 100%;
      transform: none;
      bottom: auto;
    }

    @include media-breakpoint-down(md) {
      display: none;
    }

    & + div {
      height: 2px;
      width: 50%;
      background-color: $white;
      position: absolute;
      bottom: 120px;
      margin-top: 1px;
      right: 20px;

      @include media-breakpoint-down(xl) {
        margin-top: 28px;
      }

      @include media-breakpoint-down(lg) {
        display: none;
      }

      &:after {
        content: "";
        border: solid white;
        border-width: 0 2px 2px 0;
        display: inline-block;
        padding: 5px;
        transform: rotate(-45deg);
        -webkit-transform: rotate(-45deg);
        position: absolute;
        right: 0;
        top: -5px;
      }
    }
  }
}

.greySection {
  background-color: $gray;
  width: 50%;
  padding: 88px;

  @include media-breakpoint-down(lg) {
    padding: 24px 0;
    width: 100%;
  }
  @include media-breakpoint-down(md) {
    background-color: $secondary;
    color: $white;
  }

  h2 {
    @include media-breakpoint-down(md) {
      font-size: 1.3rem;
    }

    & + div {
      @include media-breakpoint-down(md) {
        display: none;
      }
    }
  }

  button {
    width: 100%;
    display: block;
    margin-top: 1rem;
  }
  img {
    height: 35px !important;
  }
}
