.logos {
  background-color: $gray;
  padding-top: 5rem;
  padding-bottom: 7rem;

  @include media-breakpoint-down(lg) {
    padding: 4rem;
  }

  .logosImage {
    display: flex;
    align-items: center;
    justify-content: space-between;

    & > div {
      margin: 0 1rem;
    }

    @include media-breakpoint-down(lg) {
      flex-wrap: wrap;
      justify-content: center;
    }
  }
}
