.thankYouHero {
  background-color: #faf5ed;
  text-align: center;
  padding: 4rem 0;

  @include media-breakpoint-down(md) {
    padding: 2rem 0;
  }
}

.spacing {
  margin-right: 2rem;
  margin-bottom: 2.5rem;
  border-radius: 0 !important;

  & + a {
    border-radius: 0 !important;
  }
}

.imageStyles img {
  @include media-breakpoint-down(md) {
    width: 150px !important;
  }
}
