.content {
  h2 {
    margin-top: 60px;
    margin-bottom: 20px;
  }
  h3 {
    margin-top: 40px;
    margin-bottom: 20px;
  }
  p {
    strong {
      display: initial;
    }
  }
  a {
    text-decoration: underline;
  }
  li {
    margin-bottom: 10px;
  }
}
